@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  html {
    display: flex;
    flex-direction: column;
  }
}


@media screen and (max-width: 390px) {
  html {
    width: 375px;
    font-size: 15px;

  }

  /* header*/
  .header {
    width: 375 px;
    height: 90 px;

  }

  .spmipk-nav-link {
    font-size: 15%;
    text-align: center;
    text-transform: uppercase;
    color: #292D32;
    font-weight: 400;
    text-decoration: none;
  }

  .menu {
    display: none;
  }

  .img-icon-modile {
    display: inline-block;
  }

  .nav-logo {
    width: 60px;
    height: 60px;
  }



  .icon {
    width: 50%;
    display: flex;
    padding-right: 20%;
    padding-left: 20%;
    margin-left: 40%;
  }
  .img-icon{
    padding-left: 60%;
    margin-left: 100%;
  }
  .search-icon{
    padding-right: 40%;
    margin-top: 5%;
    display: block;
    margin-left: -180%;
  }
  .user-bown {
    margin-left: -8%;
    position: absolute;
    display: inline-block;
  }

  .user-content {
    position: relative;
    text-align: start;
    margin-left: -53%;
    margin-top: 6%;
    width: 375px;
    height: 390px;
    display: none;
    background-color: white ;
  }

  .menu-modil {
    margin-top: 2%;
    margin-left: 15%;
    display: flex;
    position: absolute;
    display: inline-block;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 18px;
    height: 1px;
    margin-bottom: 5px;
    background: #292D32;
  }

  .active .bar1 {
    -webkit-transform: rotate(-45deg) translate(-2.5rem);
    transform: rotate(-45deg) translate(-4.03rem);
  }

  .active .bar2 {
    opacity: 0;
  }

  .active .bar3 {
    -webkit-transform: rotate(45deg) translate(-2.5rem);
    transform: rotate(45deg) translate(-4.03rem);
  }

  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;

  }

  .burger .bar1,
  .burger .bar2,
  .burger .bar3 {
    position: absolute;
    width: 18px;
    height: 1px;
    background-color: 292D32;
    transition: all 0.3s ease-in-out;
  }

  .burger .bar1 {
    top: 0;
  }

  .burger .bar2 {
    top: 40%;
    transform: translateY(-50%);
  }

  .burger .bar3 {
    bottom: 0;
  }

  .burger.active .bar1 {
    transform: rotate(45deg);
    top: 50%;
  }

  .burger.active .bar2 {
    opacity: 0;
  }

  .burger.active .bar3 {
    transform: rotate(-45deg);
    bottom: 50%;
  }

  .burger-content {
    text-align: start;
    z-index: 1;
    position: absolute;
    margin-top: 60px;
    margin-left: -280px;
    width: 375px;
    height: 390px;
    display: none;
    background-color: white;
  }

  .burger-content a {
    box-shadow: #F2F2F2 0 -2px 2px -2px;
    padding-top: 15%;
    padding-left: 7%;
    border-radius: nullpx;
    color: #000;
    text-decoration: none;
    display: block;
  }

  .burger:hover~.burger-content {
    display: block;
  }

  .burger.active~.burger-content {
    display: block;
  }


  .img-icon-free {
    display: none;
  }

  .img-icon-grup {
    display: none;
  }

  .dropdown {
    display: flex;
  }

  /*first-sreem*/

  .first-screen {
    width: 375px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }
  .grey {
    background-color: #F2F2F2;
    width: 375px;
    height: 593px;
  }

  .dell-img {
    width: 293px;
    height: 77px;
  }

  .text-deg {
    display: none;
  }

  .grey-text-button {
    margin-left: 10%;
    margin-top: -5%;
  }

  .text-dell {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    color: #838383;
  }

  .text-goods {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    color: #292D32;
    width: 70vw;
    height: 10vh;
  }

  .details {
    margin-top: 5%;

  }

  .button {
    width: 138px;
    height: 45px;
  }


  .active {
    width: 272px;
    height: 275px;
  }



  .slider {
    margin-top: 10%;
    margin-left: 15%;
    width: 272px;
    height: 275px;
  }
  .slides {
    display: flex;
    width: 272px;
    height: 275px;
  }
  .slides img {
    width: 272px;
    height: 275px;
  }
  .pagination {
    margin-left: 060%;
    transform: translateX(-50%);
    margin-top: 8%;
  }
  .dot {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #D0D0D0;
  }
  .dot.active {
    width: 5px;
    height: 5px;
    background-color: #292D32;
  }
  .next {
    width: 64px;
    height: 14px;
    position: absolute;
    margin-top: 9%;
    margin-left: 85%;
  }


  .pages {
    color: #F9F9F9;
    width: 376px;
    height: 196px;
  }

  .photo-two-mobile {
    display: block;
    width: 252px;
    height: 166px;
    margin-left: 33%;
    margin-top: 10%;
  }

  .photo-two {
    display: none;
  }

  .offer {
    margin-top: -30%;
    margin-left: 10%;
    color: #292D32;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 20vw;
  }

  .vectoe-block {
    margin-top: -60%;
    margin-left: 70%;
  }

  /* catalogue */


  .catalogue {
    margin-top: 10%;
    margin-left: 5%;
    width: 375px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

  }

  .more {
    height: 55vh;
    width: 21vw;
    text-align: left;
  }

  .text-catalogue {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    color: #292D32;
    width: 50vw;
    padding-bottom: 5%;
  }

  .text-two {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #838383;
    width: 300px;
    padding-bottom: 15%;
  }

  .img-button {
    margin-top: 7%;
    position: absolute;
  }

  .contenir-catalogue {
    background-color: #EEEEEE;
    height: 245px;
    width: 345px;
    border-radius: 20px;
  }

  .contenir-catalogue-pc {
    background-color: #EEEEEE;
    height: 245px;
    width: 345px;
    border-radius: 20px;
  }

  .text-catalogua {
    margin-top: -3%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    color: #838383;
  }

  .name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
  }

  .img-catalogue-laptop {
    margin-top: -21%;
    width: 302px;
    height: 178px;
  }

  .img-catalogue {
    width: 210px;
    height: 193px;
    margin-top: -21%;
  }

  .img-catalogue-pc {
    width: 264px;
    height: 107px;
    margin-left: 10%;
  }

  .img-catalogue-EMC {
    width: 226px;
    height: 124px;
    margin-left: 15%;
  }

  .img-supply {
    width: 253px;
    height: 167px;
    margin-left: 10%;
  }

  /* adventages*/



  .advantages {
    margin-top: 7%;
    height: 1546px;
    width: 375;
    background-color: #F2F2F2;

  }

  .img-advantages {
    margin-top: -70%;
    margin-left: 20%;
  }

  .img-advant {
    width: 345px;
    height: 194px;
  }

  .best-img {
    margin-top: 100%;
    width: 335px;
    height: 121px;
  }

  .advantages-text-block {
    margin-top: -100%;
    margin-left: 5%;
  }

  .text-advantages {
    margin-top: -20%;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #292D32;

  }

  .text-advantages-min {
    margin-top: -7%;
    position: absolute;
    width: 306px;
    height: 92px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #838383;
  }

  .button-advanteges {
    width: 175px;
    height: 45;
  }

  .frame {
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }

  .fragment {
    display: none;
  }

  .fragment-mobile {
    display: block;
  }

  /* news*/

  .News {
    width: 375px;
    height: 1398px;
    margin-left: 0;
  }

  .text-news {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #292D32;
  }

  .text-news-min {
    width: 320px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #838383;
  }

  .img-news {
    display: none;
  }

  .allNews {
    margin-top: 7%;
    margin-left: 7%;
  }

  .img-news-mobile {
    display: block;
  }

  .newsblock {
    margin-top: 7%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }

  .img-newsblock {
    display: none;
  }

  .img-newsblock-mobile {
    display: block;
  }



  /* formcont*/

  .formcont {
    background-color: #EEEEEE;
    height: 1183px;
    width: 375px;
  }

  .our {
    display: none;
  }

  .contacts-from {
    margin-top: 0;
    margin-left: 0;
    width: 375px;
    height: 1181px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }

  .from {
    width: 100%;
    height: 623px;
    border-radius: 0;
    background-color: #F9F9F9;
  }

  .text-form-contacts {
    margin-top: 15%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #292D32;
  }

  .text-form-min {
    margin-top: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #838383;
  }

  .contscts {
    margin-left: 0%;
    width: 360px;
    height: 54;

  }

  .location {
    margin-left: -2%;
    width: 18px;
    height: 18px;
  }

  .text-lication-min {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #838383;
    margin-top: -5%;
    margin-left: 5%;
  }

  .location-text {
    margin-left: 6%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #292D32;
    margin-left: 5%;
    margin-top: 2%;
    width: 255;
  }

  .nav-email {
    margin-top: -20%;
  }

  .email {
    margin-left: -2%;
    width: 18px;
    height: 18px;
  }

  .text-email-min {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #838383;
    margin-left: 5%;
    margin-top: -5%;
  }

  .email-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #292D32;
    margin-left: 5%;
    margin-top: 2%;
  }

  .phone {
    margin-top: 10%;
  }

  .phone {
    margin-left: -2%;
    width: 18px;
    height: 18px;

  }

  .text-phone-min {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #838383;
    margin-left: 5%;
    margin-top: -5%;
  }

  .phone-number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #292D32;
    margin-left: 5%;
    margin-top: 2%;
    width: 145px;
  }

  .message {
    margin-top: 10%;
  }

  .img-f {
    width: 26px;
    height: 26px;
  }

  .img-f {
    width: 26px;
    height: 26px;
  }



  .black {
    width: 100%;
    height: 558px;
    background-color: #292D32;
    border-radius: 0;
    padding-left: 0;
  }

  .text-one {
    margin-left: 10%;
    margin-top: 1%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
  }

  .text-one-min {
    margin-left: 10%;
    margin-top: 3%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
  }

  .nameinput {
    margin-top: 7%;
    margin-left: 10%;

  }

  .input {
    margin-bottom: 5%;
    width: 315px;
    height: 40px;
    border: 1.5px solid rgba(242, 242, 242, 0.5);
    border-radius: 20px;
    background-color: #292D32;
  }

  .input-comment {
    margin-bottom: 5%;
    width: 315px;
    height: 80px;
    border: 1.5px solid rgba(242, 242, 242, 0.5);
    border-radius: 20px;
    background-color: #292D32;
  }

  .iphone {
    display: none;
  }

  .iphone-mobil {
    display: block;
    margin-top: -50%;
    margin-left: 50%;
  }

  .button-input {
    width: 125px;
    height: 45px;
  }

  /*footer*/

  .footer {
    width: 375px;
    height: 755px;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .footer-info {
    display: none;

  }

  .img-footer-logo {
    display: none;
  }

  .img-footer-logo-mobil {
    display: flex;
    position: absolute;
    margin-left: 25%;
    margin-top: 5%;
  }

  .footer-center-mobile {
    margin-top: 7%;
  }

  .footer-info-mobile {
    display: block;
    margin-top: 60%;
    margin-left: -7%;
  }

  .nav-link-mobile {
    font-weight: 300;
    font-family: 'Roboto';
    font-size: 15px;
    color: #292D32;
    line-height: 18px;
    text-decoration: none;
  }

  .footer-indent-hellp-mobile {
    position: absolute;
    margin-top: -80px;
    margin-left: 5%;
    width: 131px;
    height: 138px;
    text-align: left;
  }

  .footer-text-helpp-mobile {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #292D32;
    margin-bottom: 25%;
  }

  .footer-indent-lk-mobile {
    position: absolute;
    margin-top: -21%;
    margin-left: 50%;
    width: 141px;
    height: 166px;
    text-align: left;
  }

  .footer-text-lk-mobile {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #292D32;
    padding-bottom: 15%;
  }

  .footer-indent-cotologes-mobile {
    position: absolute;
    margin-left: 5%;
    margin-top: 30%;
    width: 113px;
    height: 50px;
    text-align: left;
  }

  .footer-text-cotologes-mobile {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #292D32;
    margin-bottom: 15%;
  }

  .footer-center-cotologe {
    width: 113px;
    height: 100px;
  }

  .lopto-footer-mobile {
    width: 113px;
    margin-top: -75%;
    margin-left: 155%;
  }


  .dellfooter {
    display: none;
  }

  .dell-img-footer-mobile {
    display: flex;

  }


  .footer-contacts {
    margin-top: 150%;
    margin-left: 0;
    box-shadow: #E5E5E5 0 -2px 2px -2px;
    width: 375px;
    height: 290px;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .footer-location {
    position: absolute;
    width: 375px;
    height: 66px;
  }

  .footer-phone {
    margin-top: 20%;
    width: 375px;
    position: absolute;
  }

  .footer-email {
    margin-top: 40%;
    width: 375px;
    position: absolute;
  }

  .text-min-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #838383;
  }

  .text-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #292D32;
  }

  .text-footer-one {
    text-decoration: none;
  }

  .message-footer {
    margin-top: 60%;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .facebook {
    width: 30px;
    height: 30px;
    margin-right: 15%;
  }
  .whats-app {
    width: 30px;
    height: 30px;
    margin-left: 30%;
  }

}